version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: uc-fikir-menu
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
